html {
  font-size: 13px;
  scroll-behavior: smooth;


  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: flex;
    flex-direction: column;
  }
}

body {
  display: flex;
  flex-direction: column;

  font-family: $pt-sans;
  color: $black-text;
  font-weight: 400;
  line-height: $basic-size;

  background-color: $white;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}


.container-new {
  margin: 0 auto;
  padding: 0 $gutter;
  max-width: 1200px;
}

.main-content {
  background-color: $main-color;
}

.table-respons {
  width: 100%;
  overflow-x: auto;
  min-height: 0.01%;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @include media($screen-sm) {
    overflow-y: hidden;
  }
}


@supports(max-width: env(safe-area-inset-left)) {
  .container-new {
    max-width: calc(100% - env(safe-area-inset-left)*2);
  }
}
