//fonts
$open-sans:                'Open Sans', sans-serif;
$pt-sans: 									'PT Sans', sans-serif;

//general-color
$brand-color:   #0aa5df;
$brand-ligth:   #10a9e2;
$blue: 					#6cc9ec;
$white:         #ffffff;
$black:         #000000;
$red:  					#f80000;
$black-text:    #202020;
$main-color:    #f7f7f7;
$gray:          #565656;
$yellow:        #ffd200;
$basic-size:    14px;
$gutter: 10px;

//media
$screen-max:    1600px;
$screen-lg-max: 1366px;
$screen-lg:     1200px;
$screen-md-max: 1025px;
$screen-md:     992px;
$screen-sm:     768px;
$screen-xs:     480px;

//other
$anim: .3s;
$radius: 5px;