.header-page {
  font-family: $pt-sans;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media($screen-md) {
      padding: 10px;
    }
  }

  &__middle-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(1145px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__lang-list {
    margin-right: 48px;
  }

  &__sign-in {
    display: flex;
    align-items: center;

    color: $white;
  }

  &__sign-link {
    display: flex;
    align-items: center;

    color: $white;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__sign-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;

    fill: $brand-color;
  }

  &__middle {
    padding: 14px 0px;

    background-color: $white;
  }

  &__logo {
    margin-right: 70px;

    @include media(1145px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__common {
    flex-basis: 476px;
    margin-right: 45px;

    @include media(1145px) {
      margin-right: 0;
      flex-basis: auto;
    }
  }

  &__top-common {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @include media(1145px) {
      justify-content: center;
    }

    @include media($screen-xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {

    @include media(1145px) {
     justify-content: center;
     margin-bottom: 20px; 
   }
 }

  &__tel-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 305px;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-right: 14px;

    @include media($screen-xs) {
      margin: 0;
      flex-basis: auto;
      margin-bottom: 15px;

      text-align: center;
    }
  }

  &__tel-item {
    flex-basis: 50%;
    padding: 7px 0;
    display: flex;
    align-items: center;

    @include media($screen-xs) {
      justify-content: center;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    
    font-size: $basic-size;
    color: $black-text;

    &:hover, &:active, &:focus {
      color: $brand-color;
      
      outline: none;
    }
  }

  &__tel-ico {
    display: block;
    margin-right: 6px;
  }

  &__pers-area-info {
    flex-basis: 214px;
    margin-right: 47px;

    @include media(1145px) {
      flex-basis: auto;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__area-text {
    margin-bottom: 5px;
    
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: $black-text;
    line-height: 20px;
  }

  &__link-area {
    color: $brand-color;
    text-decoration: underline;
  }

  &__text-important {
    color: $red;
  }

  &__dealer {
    margin-bottom: 10px;  

    font-size: 16px;
    font-weight: 700;
    color: #202020;
  }

}