.header-page {
  font-family: $pt-sans;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media($screen-sm) {
      padding: 10px;
    }
  }

  &__middle-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media($screen-sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__lang-list {
    display: none;
    margin-right: 48px;

    
  }

  &__sign-in {
    display: flex;
    align-items: center;

    color: $white;
  }

  &__sign-link {
    display: flex;
    align-items: center;

    color: $white;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__sign-icon {
    width: 24px;
    height: 24px;
    margin-right: 7px;

    fill: $brand-color;

    @include media($screen-sm)  {
      margin-right: 0;
    }
  }

  &__middle {
    padding: 14px 0px;

    background-color: $white;
  }

  &__logo {
    margin-right: 70px;
     
    @include media($screen-sm) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__common {
    width: 100%;
    max-width: 476px;
    margin-right: 45px;

    @include media(1145px) {
      margin-right: 0;
    }

   
  }

  &__top-common {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;


    @include media($screen-sm) {
      display: none;
    }
  }

  &__form {

  
 }

  &__tel-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 305px;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-right: 14px;

    
  }

  &__tel-item {
    width: 50%;
    display: flex;
    align-items: center;

    @include media($screen-sm) {
      justify-content: center;
    }
  }


  &__tel-ico {
    display: block;
    margin-right: 6px;
  }

  &__pers-area-info {
    width: 100%;
    max-width: 214px;
    margin-right: 47px;

    

    @include media(1145px) {
      display: none;
    }
  }

  &__area-text {
    margin-bottom: 5px;
    
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: $black-text;
    line-height: 20px;

    @include media($screen-sm) {
      display: none;
    }
  }

  &__link-area {
    color: $brand-color;
    text-decoration: underline;
  }

  &__text-important {
    color: $red;
  }

  &__dealer {
    margin-bottom: 10px;  

    font-size: 16px;
    font-weight: 700;
    color: #202020;
  }

  &__action-buttons { 
    margin-right: 15px;
    display: flex;
  }

  &__cart {
    display: none;

    @include media(960px) {
      display: block;
    }
  }

  &__action-icon {
    width: 24px;
    height: 24px;

    fill: $brand-color;
  }

  &__sign-text {

    @include media(1145px) {
      display: none;
    }
  }

  &__action-btn {
    margin-right: 15px;
  }

}