.map-wrapper{
	padding: 0 !important;
}

.error {
	color: red;
}

.error::placeholder {
	color: red;
}

.success::placeholder {
	color: green;
}

p {
	font-size: 14px;
}

.blog-sub-list{
  padding-left: 7px;
  margin-bottom: 9px;
}

.sort-item .control-label {
  text-align: left;
}

#confirm_form .control-label {
  margin-bottom: 7px;
}

.panel-heading .fa {
	color: $brand-color;
}
