.action-buttons {
	display: flex;
	align-items: center;

	&--new {
		justify-content: center;
		margin-bottom: 9px;
	}

	&__btn {
			display: flex;
			align-items: center;
			margin-right: 36px;

		&--new {
			&:first-child { 
				margin-right: 15px;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			.action-buttons__icon {
				fill: $brand-color;
			}

			.action-buttons__text {
				color: $brand-color;
			}

		}
	}

	&__icon {
		width: 28px;
		height: 31px;
		fill: #bfbfbf;
		transition: fill .3s;

		&--align {
			margin-right: 7px;
		}
	}

	&--card {
		margin-right: 10px;
	}

	&__text {
		color: $gray;
		border-bottom: 1px solid;
	}

}