.adwantages {
	padding: 25px 0px;

	font-family: $pt-sans;

	background-color: $white;


	&__list {
		width: 100%;
		margin-left: -$gutter;
		margin-right: -$gutter;
		display: flex;
		justify-content: center;

		@include media($screen-md) {
			flex-wrap: wrap;
			margin-bottom: -40px;
		}

		@include media($screen-sm) {
			flex-direction: column;
			align-items: center;
			margin: 0;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 390px;
		padding: 0 $gutter;

		color: $black-text;

		@include media($screen-md) {
			width: 50%;
			max-width: none;
			flex-direction: column;
			margin-bottom: 40px;

			text-align: center;
		}

		@include media($screen-sm) {
			width: 100%;
		}
	}

	&__icon {
		width: 115px;
		height: 110px;

		fill: $brand-color;
	}

	&__icon-wrap {
		margin-right: 30px;

		@include media($screen-md) {
			margin-right: 0;
			margin-bottom: 15px;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 12px;

		font-size: 20px;
		font-weight: 700;
		line-height: 14px;
	}

	&__descr {
		margin-bottom: 0;
		max-width: 215px;

		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
	}
}