.button {
  position: relative;
  
  display: inline-block;
  padding: 13px 12px;

  color: $white;
  font-size: $basic-size;
  font-family: $pt-sans;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  
  background-color: $brand-color;

  transition: color, background-color .3s;

  touch-action: manipulation;

  &__icon {
    width: 15px;
    height: 17px;
    margin-left: 33px;

    fill: $white;

    &--no-text {
      margin: 0;
    }
  }

  &:hover {
    color: $white;
    background-color: lighten($brand-color, 15%);
  }

  &:active, &:focus {
    color: $white;
    background-color: darken($brand-color, 15%);
    outline: none;
  }

  &--arrow {
    
    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 20px;

      width: 8px;
      height: 8px;

      background-color: transparent;
      border: 2px solid;
      border-top: 0;
      border-left: 0;

      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &--gradi {
    display: block;
    padding: 7.5px 12px;

    text-transform: none;
    font-weight: 400;

    border-radius: 4px;
    background-color: transparent;
    background-image: linear-gradient( 90deg, rgb(10,165,223) 0%, rgb(14,187,252) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &:hover {
      background-image: linear-gradient( rgb(14,187,252) 100%, rgb(10,165,223) 90%);
    }
  }

  &--silver {
    display: block;
    padding: 7.5px 12px;

    color: $black-text;
    text-transform: none;
    font-weight: 400;

    border-radius: 4px;
    background-image: linear-gradient( 90deg, rgb(229,228,228) 0%, rgb(247,247,247) 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.28);

    &:hover {
      color: currentColor;
      background-image: linear-gradient( rgb(247,247,247) 100%, rgb(229,228,228) 90%);
    }

  }

  &__text {
    font-size: $basic-size;
    color: $black-text;
    line-height: 22px;
    
    border-bottom: 1px dashed currentColor;
  }

  &--buy {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 15px;

    background-color: $red;

    &:hover {
      background-color: darken($red, 15%);
    }
  }

  &--full {
    width: 100%;
  }

  &--del {
    background-color: $red;

     &:hover {
      background-color: darken($red, 15%);
    }
  }

  &--small {
    display: block;
  }

}


.btn-primary {
  background-color: #0aa5df;
  border: 0;

  &:hover {
    background-color: #3fc4f6
  }

  &:active, &:focus {
    background-color: #076f96;
  }
}

.btn-primary.active, 
.btn-primary:active, 
.open>.dropdown-toggle.btn-primary {
  background-color: #0aa5df;
  border: 0;
}

.btn-danger {
  background-color: #f80000;
}



