.categories {
	position: relative;

	font-family: $pt-sans;

	background-color: $brand-color;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);


  &__list {
  	display: inline-flex;
  	align-items: center;
  	justify-content: space-between;

  	@include media($screen-md) {
  		width: 100%;
  		display: none;
  		padding: 0;
			
			background-color: $brand-color;
  		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		}

	}

	&__item {
		position: relative;

		width: 100%;

		color: $white;



		&:last-child {
			
			.categories__link {

				@include media($screen-md) {
					padding-right: 22px;
				}

			}

		}

		@include media-min($screen-md) {
			&:hover {
				> .submenu {
					display: block;
				}
			}
		}

	}

	&__link {
		position: relative;

		display: inline-block;
		padding: 17.5px 14px;

		font-size: 18px;
		color: $white;
		font-weight: 700;

		background-image: linear-gradient(90deg,#0aa5df,#0ebbfc);

		transition: background-image $anim;

		@include media(1185px) {
				font-size: 14px;
			}


		&:hover {
			color: currentColor;
			background-image: linear-gradient(60deg,#0ebbfc, #0aa5df);

			@include media($screen-md) {
				background-image: none;
			}

		}

		&::after, &::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;

			width: 2px;
			height: 90%;
			display: block;

			background-color: $white;

			transform: translateY(-50%);

			@include media($screen-md) {
				display: none;
			}


		}

		&::before {
				left: 0;
			}



		@include media(1130px) {
			padding-right: 15px;
		}

		@include media($screen-md) {
			padding-left: 0;
			padding-right: 22px;

			font-weight: 400;

			background-image: none;
		}
	}

	&__mob-nav {
		display: none;
		justify-content: space-between;
		align-items: center;
		padding: 14px 0px;

		background-color: $brand-color;

		@include media($screen-md) {
			display: flex;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 15px;

		color: $white;
		font-weight: 700;
		font-size: 17px;
	}

	&__icon {
		position: absolute;
		top: 35%;
		right: 0;

		display: none;
		width: 15px;
		height: 19px;

		color: $white;

		@include media($screen-md) {
			display: block;
		}
	}

}