.categories-page {
	&__btn-wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}

	&__load-icon {
		position: absolute;
		top: 50%;
		left: 55px;

		transform: translateY(-50%);
	}

	&__load-btn {
		width: 344px;
		justify-content: center;
	}
}