.head-title {
	position: relative;

	display: block;
	padding-bottom: 16px;
	margin-top: 0;
	margin-bottom: 20px;

	color: $black-text;
	font-size: 30px;
	font-family: $pt-sans;
	font-weight: 700;
	line-height: 1.1;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;

		display: block;
		width: 77px;
		height: 3px;

		background-color: $brand-color;
	}

	@include media($screen-sm) {
		font-size: 25px;
	}

	&--inner-content {
		margin-bottom: 22px;
	}

	&--small {
		padding-bottom: 0;
		margin-bottom: 10px;
		
		font-size: 20px;

		&::after {
			display: none;
		}
	}
}