.home-page {
	padding-top: 13px;

	&__slider {
		position: relative;

		width: 100%;

		background-color: #ededed;
		border-radius: 3px;
	}

	&__slider-item {
		position: relative;
	}

	&__slider-img {
		width: 100%;
		padding-bottom: 40%;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__slider-btn {
		position: absolute;
		left: 70px;
		bottom: 51px;

		padding-left: 33px;
		padding-right: 33px;

		background-color: $black-text;

		&:hover {
			color: $white;
			
			background-color: lighten($black-text, 15%);
		}
		
		&:active, &:focus {
			color: $white;
			
			background-color: darken($black-text, 15%);
		}
 
		@include media($screen-md) {
				display: none;
			
		}
	}

	.slick-dots li button::before {
		display: none;
	}

	.slick-dots li button {
		width: 11px;
		height: 11px;

		border-radius: 50%;
		background-color: transparent;
		border: 1px solid $black-text;

		transition: background-color $anim;
	}

	.slick-dots li button:hover {
		background-color: $black-text;
	}

	.slick-dots li {
		margin: 0;

		text-align: center;
		cursor: default;
	}

	.slick-dots li.slick-active button {
		background-color: $black-text;
	}

	.slick-dots li.slick-active:hover button {
		background-color: $black-text;
	}

	.slick-dots {
		bottom: -44px;
	}

	.slick-prev, .slick-next {
		width: 33px;
		height: 50px;
		z-index: 5;
	}

	.slick-next {
		right: 0;
	}

	.slick-prev {
		left: 0;
	} 

	.slick-prev::before {
		content: '';

		width: 33px;
		height: 50px;
		display: block;

		background-image: url('../images/pic/home-prev.svg');
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;
	}

	.slick-next::before {
		content: '';

		width: 33px;
		height: 50px;
		display: block;

		background-image: url('../images/pic/home-prev.svg');
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 1;

		transform: rotate(-180deg);
	}
}

.slick-dotted.home-page__slider {
	margin-bottom: 55px;
}