.info-article {

	img {
		float: left;
		margin-left: 10px;
		margin-right: 10px;

		@include media($screen-sm) {
			float: none;
			margin: 0;
		}
	}

	&__text-wrap {
		float: right;
	}

	h4 {
		margin-top: 0;
	}

	b {
		font-weight: 700;
	}

	a {
		color: $brand-color;

	}
}