.lang-list {
	display: flex;
	align-items: center;
	margin-left: -5px;
	margin-right: -5px;

	&__item {
		position: relative;

		color: $white;

		&:not(:last-child) {
			&::after {
				content: '';
				position: absolute;
				top: 2px;
				right: -1px;

				display: block;
				width: 2px;
				height: 9px;

				background-color: $white;
			}
		}

		&--active > a {
			color: $brand-color;

			&:hover, &:active, &:focus {
				text-decoration: none;
			}
		}
	}

	&__link {
		display: block;
		padding: 0 5px;

		text-transform: uppercase;
		font-size: $basic-size;

		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}