.list-vailability {
	margin-bottom: -3px;

	&--marg {
		margin-bottom: 15px;
	}

	&--card {
		margin-bottom: 10px;
	}

	&__item {
		position: relative;
		
		padding: 3px 0px;
		padding-left: 29px;

		color: $gray;
		font-size: 13px;
		line-height: 16px;

		&::before {
			content: '';
			position: absolute;
			left: 10px;
			top: 50%;

			width: 9px;
			height: 9px;

			background-color: #61ab00;
			border-radius: 50%;

			transform: translateY(-50%);
		}

		&--list {
			padding: 0;
			padding-left: 18px;

			&::before {
				left: 0;
			}
		}


		&--empty {
			&::before {
				background-color: #fe2b06;	
			}
		}

		&--card {
			padding-left: 19px;

			&::before {
				left: 0;
			}
		}
	}
}