.logo {

	&__link {
		display: block;

		text-align: center;
	}

	&__img {
		margin-bottom: 7px;
		display: block;
	}

	&__text {
		font-family: $pt-sans;
		text-transform: uppercase;
		color: $brand-ligth;
		font-size: 14px;
		letter-spacing: 0.9px;
	}
}