.novelties-sect {
	&__content {
		padding: 33px 17px;
		padding-bottom: 0;
		align-items: flex-start;
		min-height: 0;
	}

	&__text-info {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;

		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}

	&__title {
		width: 100%;
	}


	&__img {
		position: static;

		width: auto;
		height: auto;
		float: right;
	}
}