.open-menu {
	display: none;
	width: 40px;
	min-height: 21px;
	margin-bottom: -7px;

	color: $brand-color;

	cursor: pointer;

	@include media($screen-md) {
		display: block;
	}

	&--active {
		.open-menu__one {
			transform: rotate(45deg) translate(4px);
		}

		.open-menu__two {
			transform: rotate(495deg) translate(4px);
		}

		.open-menu__three {
			transform: rotate(45deg);
			opacity: 0;

		}
	}

	&__line {
		display: block;
		width: 38px;
		height: 3px;
		margin-bottom: 7px;

		background-color: currentColor;
		border-radius: 4px;

		transition: transform .5s cubic-bezier(.08,.81,.87,.71);
	}

	&__one {
		transform-origin: 4px 0;
	}

	&__three {
		transform-origin: bottom right;
	}

	&--categories {
		color: $white;
	}

}