.page-heading {
	width: 100%;
	margin: 0;
	padding: 19.5px 13px;

	color: $white;
	line-height: $basic-size;
	font-size: 26px;
	text-align: center;
	font-family: $pt-sans;
	font-weight: 40;

	background-color: $brand-color;
}