.page-wrap {
	display: flex;
	align-items: flex-start;
	margin-left: -$gutter;
	margin-right: -$gutter;

	@include media($screen-md) {
		flex-direction: column;
		align-items: center;
	}

	&__left {
		width: 25%;
		padding: 0px $gutter;

		@include media($screen-md) {
			width: 100%;
			max-width: 450px;
			margin-bottom: 20px;
		}

		@include media($screen-xs) {
			max-width: none;
		}
	}

	&__right {
		width: 75%;
		padding: 0px $gutter;

		@include media($screen-md) {
			width: 100%;
		}

		&--full {
			width: 100%;
		}
	}

	&__text-content {
		margin-bottom: 20px;
	}

	&__cont {
		display: flex;
		justify-content: center;

		&--space-between {
			justify-content: space-between;
		}

		&--right {
			justify-content: flex-end;
		}
	}

	&__btn {
		width: 100%;
		max-width: 300px;
		justify-content: center;
	}

	&__subtitle {
		margin-bottom: 10px;

		font-weight: 700;
		font-size: 16px;
	}

	&__form-group {
		margin-bottom: 15px;
	}

	&__table {
		background-color: $white;
	}
}