.page-form {
	display: flex;
	flex-direction: column;

	&__group {
		margin-bottom: 15px;
	}

	&__group-title {
		margin-bottom: 20px;
		
		font-size: 21px;

		border-bottom: 0;
	}

	&__inputs-group {
		margin-bottom: 15px;
	}

	&__label-check {
		display: flex;
	}

	&__text {
		color: #737373;

		&--note {
			color: $red;
		}
	}

	&__inp-group {
		display: flex;
		align-items: center;
		padding: 0px 5px;
		margin: 0;
	}
}