.page-filter {
	width: 100%;
	padding: 20px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;

	border-radius: 5px;
	background-color: $white;
	box-shadow: 0px 1px 2.97px 0.03px rgba(0, 0, 0, 0.12);

	@include media(1170px) {
		flex-wrap: wrap;

	}

	@include media($screen-md) {
		flex-direction: column;
	}


	&__buttons {
		display: flex;
		margin-right: 38px;

		@include media($screen-md) {
			margin-right: 0;
			margin-bottom: 20px;
		}

		@include media($screen-sm) {
			margin-bottom: 0;
		}

	}

	&__btn {
		min-width: 128px;
    padding: 7.5px 7px;

		&:not(:last-child) {
			margin-right: 7px;
		}
	}

	&__checkboxes {
		width: 100%;
	}

	&__wrap-selects {
		display: flex;
		align-items: center;
	
		@include media($screen-xs) {
			flex-direction: column;
		}
		 
	}

	&__select-item {
		position: relative;

		display: flex;
		align-items: center;
		margin-right: 15px;

		@include media($screen-md) {

			&:last-child {
				margin-right: 0;
			}
		}

		@include media($screen-xs) {
			
			&:not(:last-child) {
				margin-bottom: 20px;
				margin-right: 0;
			}
		}

		@include media($screen-xs) {
			
			flex-direction: column;
			align-items: center;
			
		}

	}

	&__icon {
		position: absolute;
		right: 9px;
		top: 5px;

		width: 15px;
		height: 18px;

		fill: $brand-color;

		@include media($screen-xs) {
			
			top: 29px;
			
		}

		&--no-text {
			@include media($screen-xs) {
				top: 6px;
			}
		}
	}

	&__select {
		height: 25px;
		padding-left: 13px;
		padding-right: 32px;

		color: #919496;
		font-size: $basic-size;

		background-color: $white;
		border: 1px solid #acacaf;
		border-radius: 2px;

	}

	&__select-title {
		margin-bottom: 0;
		margin-right: 7px;

		color: $black-text;
		font-size: $basic-size;

		@include media($screen-xs) {
			
			margin-bottom: 10px;
			margin-right: 0;
			
		}
	}

	&__btn-compare {
		display: flex;
		align-items: center;
		padding: 10px 0px;

		&:hover {

			.button__text {
				border-bottom-color: transparent;
			}

			.page-filter__icon-compare {
				fill: darken($brand-color, 20%);
			}
		}
	}

	&__icon-compare {
		width: 31px;
		height: 19px;

		fill: $brand-color;

		transition: fill $anim;
	}

	&__btn-text {
		font-size: $basic-size;
    color: $black-text;
    line-height: 22px;
    
    border-bottom: 1px dashed currentColor;
	}

	&__search-btn {
		text-transform: none;
	}

	&__inp {
		padding-top: 2.5px;
		padding-bottom: 2.5px;
		min-height: 0;
	}

	&--hide-sm {
		@include media($screen-sm) {
			display: none;
		}
	}

	&__icon-wrap {
		pointer-events: none;
	} 

}