.page-wrap {
	display: flex;
	align-items: flex-start;
	margin-left: -$gutter;
	margin-right: -$gutter;

	@include media($screen-md) {
		flex-direction: column;
		align-items: center;
	}

	.img-thumbnail {
		margin-bottom: 10px;
	}

	.row {
		margin: 0;
	}

	&__left {
		width: 25%;
		padding: 0px $gutter;

		@include media($screen-md) {
			width: 100%;
			max-width: 450px;
		}

		@include media($screen-xs) {
			max-width: none;
		}
	}

	&__right {
		width: 75%;
		padding: 0px $gutter;

		@include media($screen-md) {
			width: 100%;
		}

		&--full {
			width: 100%;
		}
	}

	&__text-content {
		width: 100%;
		margin-bottom: 20px;
	}

	&__cont {
		display: flex;
		justify-content: center;

		&--space-between {
			justify-content: space-between;
		}

		&--right {
			justify-content: flex-end;
		}
	}

	&__btn {
		width: 100%;
		max-width: 300px;
		justify-content: center;

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__subtitle {
		margin-bottom: 10px;

		font-weight: 700;
		font-size: 16px;
	}

	&__form-group {
		margin-bottom: 15px;
	}

	&__table {
		background-color: $white;
	}

	&__address-item {
		display: flex;
		justify-content: space-between;
	}

	&__radio-button {
		margin-right: 20px;
	}

	&__down-text {
		display: inline-block;
		margin-bottom: 6px;

		font-size: 15px;
	}

	&__content-brand iframe {
		width: 100%;
		max-width: 560px;
		min-height: 315px;

		border: 0;
	}

	&__account {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 30px;

		@include media($screen-md) {
			justify-content: flex-start;
		}
	}

	&__acc-title {
		display: block;
		margin-bottom: 8px;
		
		font-weight: 700;
		font-size: 18px;
		text-align: center;
	}

	&__acc-section {
		width: 240px;
		padding: 13px 18px;

		background-color: $white;
	}

	&__acc-item {
		display: block;
		padding: 7px 0;
	}
}