.page-section {
	padding: 37px 0;

	&--right-content {
		padding-top: 8px;
		padding-bottom: 45px;
	}

	&__scroll-tablet {

		@media screen and(min-width: 414px) and(max-width: 1145px) {
			overflow-x: auto;
		}
	} 

	&__article-list-scroll {
		flex-wrap: nowrap;
		
		@include media(1145px) {
			width: 1145px;
			align-items: stretch;
		}

		@include media($screen-sm) {
			flex-direction: row;
		}

		@include media(414px) {
			width: 100%;
			margin: 0;
			flex-direction: column;
		}
	}

	&__article-list-blog {
		flex-wrap: nowrap;

		@include media(1175px) {
			width: 880px;
			align-items: stretch;
		}

		@include media($screen-md) {
			width: 1145px;
		}

		@include media($screen-sm) {
			flex-direction: row;
		}

		@include media(414px) {
			width: 100%;
			flex-direction: column;
			margin: 0;
		}

		.article-list__item {

			@include media(414px) {
				padding: 0;
			}
		}
	}

}