.product-card {
	display: flex;

	background-color: $white;
  border-radius: 8px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(0, 0, 0, 0.12);

  @include media($screen-md) {
  	flex-direction: column;
  }
 

	&__thumb {
		width: 100%;
		max-width: 539px;
		padding-right: 29px;
		padding-left: 24px;

		border-right: 1px solid #ededed;

		@include media($screen-md) {
			align-self: center;
			border: 0;
		}

		@include media($screen-sm) {
			max-width: none;
			width: 100%;
		}

		@include media($screen-xs) {
			padding: 0;
		}
	}

	&__info {
		width: 100%;
		max-width: 639px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 45px;
		padding-right: 20px;

		@include media($screen-md) {
			width: 100%;
			max-width: none;
		}

		@include media(505px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&__title {
		max-width: 415px;
		margin-top: 0;
		margin-bottom: 14px;
		padding-bottom: 24px;

		font-size: 24px;
		line-height: 32px;
	}
	
	&__info-box {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media(505px) {
			flex-direction: column;
		}
	}

	&__descr {
		margin-bottom: 9px;
	}

	&__descr-left {
		@include media(505px) {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	&__descr-text {
		margin: 0;
		
		color: $gray;
		font-size: $basic-size;
		line-height: 20px;
	}

	&__link {
		color: $brand-color;

		&:hover {
			text-decoration: underline;
		}
	}

	&__numb {
		font-weight: 700;
	}


	&__buy {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 179px;

		@include media(505px) {
			width: 100%;
		}
	}

	&__rating-wrap {
		margin-bottom: 13px;
	}

	&__tel-form {

		@include media($screen-xs) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__tel-text {
		
		@include media($screen-xs) {
			margin-bottom: 10px;
		}
	}
}