.product-gallery {
	display: flex;
	align-items: center;

	@include media($screen-xs) {
  	flex-direction: column;
  }

  &__slider {
  	max-width: 65px;
  	padding: 30px 0px;

  	@include media($screen-xs) {
  		width: 100%;
  		max-width: none;
  		padding: 0 33px;
  	}

  }

	.slick-slide.product-gallery__link {
		margin-bottom: 7px;
		padding: 8px 2px;
		height: 66px;
		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid $blue;
		border-radius: 3px;
	}


	&__full-img {
		position: relative;

		padding: 0px 45px;
		padding-top: 9px;
		padding-bottom: 9px;
		width: 100%;

		@include media($screen-xs) {
			order: -1;
			margin-bottom: 20px;
		}
	}

	&__pic-wrap {
		position: relative;

		width: 100%;

		padding-bottom: 86%;
	}

	&__pic {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.slick-prev, .slick-next {
		height: 13px;

		transform: translateX(-50%);

		&::before {
			content: '';
			position: absolute;
			right: 5px;

			width: 13px;
			height: 13px;

			background-color: transparent;
			border: 2px solid #c8c8c8;
			border-top: 0;
			border-left: 0;
			opacity: 1;

			transition: border-color, $anim;

			transform: translateX(-50%) rotate(-45deg);
		}

		&:hover, &:active, &:focus {

			&::before {
				border-color: $brand-color;
			}
		}
	}

	.slick-prev {
		top: 13px;
		left: 50%;

		&::before {
			top: 8px;

			transform: translateY(-50%) rotate(-134deg);
		}

		@include media($screen-xs) {
			top: 50%;
			left: 12px;
			transform: translateY(-50%) rotate(-90deg);
		}
	}

	.slick-next {
		top: 90%;
		left: 50%;

		&::before {
			top: 3px;

			transform: rotate(45deg);
		}

		@include media($screen-xs) {
			top: 50%;
			left: auto;
			right: 12px;
			transform: translateY(-50%) rotate(-90deg);
		}
	}

}