.product-card {
	display: flex;
	margin-bottom: 30px;

	background-color: $white;
  border-radius: 8px;
  box-shadow: 0px 1px 2.97px 0.03px rgba(0, 0, 0, 0.12);

	&__thumb, &__info {
		width: 50%;
	}

	&__thumb {
		padding-right: 29px;
		padding-left: 24px;

		border-right: 1px solid #ededed;
	}

	&__info {
		padding-top: 30px;
		padding-bottom: 25px;
		padding-left: 45px;
		padding-right: 20px;
	}

	&__title {
		margin-top: 0;
		margin-bottom: 24px;

		font-size: 24px;
	}
	
	&__info-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

}