.product-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;

	&--column {
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	&__wrap {
		width: 100%;
		min-height: 18px;
		margin-bottom: 8px;

		text-align: center;
	}

	&__item {
		font-size: 18px;
		font-weight: 700;
		color: #202020;
		line-height: 16px;

		&--old {
			text-decoration: line-through;
		}

		&--new {
			color: $red;
		}

		&--xs {
			font-size: 16px;
		}

		&--old-large {
			font-size: 20px;
		}

		&--large {
			font-size: 26px;
		}

		&--card {
			margin-bottom: 12px;
		}
	}
}