.quantity {
	display: flex;

	&__btn {
		padding: 4px 8.5px;

		font-size: 28px;
		font-weight: 400;
	}

	&__inp {
		max-width: 46px;
		padding: 3px 6px;

		text-align: center;
		color: $gray;
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		border: 1px solid #acacaf;
		border-left: 0;
		border-right: 0;
	}
}