.radio-button {
	display: inline-flex;
	margin-bottom: 0;

	&__text {
		display: flex;
		align-items: center;
		margin-bottom: 0;

		cursor: pointer;
		user-select: none;

		&::before {
			content: '';

			min-width: 20px;
			width: 18px;
			height: 18px;
			display: block;
			margin-right: 10px;

			border-radius: 50%;
			background-color: $white;
			box-shadow: 0 1px 2.97px 0.03px rgba(0,0,0,.12);

			transition: background-color $anim;
		}
	}

	&__inp:checked + .radio-button__text::before {
		background-color: $brand-color;
	}

}