.rating {
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		
		&:not(:last-child) {
			margin-right: 2px;
		}
	}

	&--card {
		margin-right: 16px;
	}

	&__ico {
		display: block;
		width: 20px;
		height: 20px;

		color: #bcbcbc;

		&--active {
			color: $yellow;
		}
	}
}