.search-form {
	width: 100%;
	display: flex;

	.selectric {
		position: relative;

		width: 91px;
		max-width: 91px;

		font-family: $open-sans;
		font-weight: 400;
		text-transform: initial;
		color: $white;

		border: 0;
		background: $brand-color;

		&:hover {
			background-color: $brand-color;
		}

		.label {
			margin: 0;
			margin-right: 20px;
			height: 39px;

			font-weight: 400;
			font-size: 14px;
			color: currentColor;
			line-height: 33px;
		}

		.button {
			right: 6px;

			width: auto;

			background-color: transparent;

			color: currentColor;

			&::after {
				top: 3px;

				border-width: 5px;
				border-top-color: currentColor;
			}
		}

	}


	.selectric-hover .selectric .button {
		color: $white;
	}

	.selectric-items {
		box-shadow: none;
		border: 0;
	}

	.selectric-wrapper {
		max-width: 190px;
	}

	.selectric-items .selectric-scroll {
		overflow: visible;
	}

	.selectric-items ul {
		background-color: $white;
		border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.37);
	}

	.selectric-items li {
		position: relative;

		width: 100%;
		padding: 12px 10px;

		background-color: $white;

		font-size: 14px;
		font-weight: 400;
		color: $black-text;

		&:hover {
			color: $brand-color;

			&::after {
				display: none;
			}
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 10px;
			right: 10px;

			height: 1px;


			background-color: #f7f7f7;
		}

		&:last-child {

			&::after {
				display: none;
			}
		}
	}

	&__group {
		display: flex;
		flex-basis: 330px;
		margin: 0;
	}

	&__inp {
		padding: 8px 34px;
		flex-basis: 100%;

		border: 2px solid $brand-color;
		border-right: none;
		border-left: none;
		
		@include placeholder {
			font-family: $pt-sans;
			font-size: $basic-size;
			color: #919496;
		}

		@include media($screen-xs) {
			padding-right: 5px;
			padding-left: 5px;
		}
	}

	&__btn-search {
		padding: 8px 16.5px;

		@include media($screen-xs) {
			padding-right: 10px;
			padding-left: 10px;
		}
	}

	&__icon-search {
		width: 22px;
		height: 22px;
		margin: 0;

		fill: $white;
	}

	&__submenu-text {
		
		@include media($screen-xs) {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

}