.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 5;

	display: none;
	width: 200px;

	font-family: $open-sans;
	font-weight: 400;

	background-color: $white;
	border-radius: 4px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.37);

	&__item {
		&:last-child {
			.submenu__text {
				border-bottom: 0;
			}
		}
	}

	&__link {
		display: block;

		font-size: $basic-size;
		text-align: left;
		color: $black-text;
		background-color: transparent;

		&:hover, &:active, &:focus {
			color: $brand-color;

			outline: none;
		}

		&--categories {
			font-weight: 700;

			&:hover, &:active, &:focus {
				color: $white;

				background-color: $brand-color;

				> .submenu__text {
					border-bottom-color: transparent;
				}
			}
		}


	}

	&__text {
		display: block;
		padding: 12px 10px;

		border-bottom: 1px solid #f7f7f7;

	}

	

}