.tabs-control {
	width: 100%;
	display: inline-flex;

	border-bottom: 2px solid $brand-color;

	&__btn {
		display: block;
		width: 100%;
		padding-top: 19px;
		padding-bottom: 19px;
		margin-right: 9px;
		
		color: $black-text;
		font-size: 22px;
		font-weight: 400;
		text-transform: none;

		background-color: #dbdbdb;
		border-radius: 4px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			color: $white;

			background-color: $brand-color;
		}

		&:hover {
			background-color: $brand-color;
		}
	}
}